data_array = data[9]
df9 = pd.DataFrame(data_array)
df9
data_array = data[10]
df10 = pd.DataFrame(data_array)
df10
data_array = data[11]
df11 = pd.DataFrame(data_array)
df11
data_array = data[12]
df12 = pd.DataFrame(data_array)
df12
data_array = data[13]
df13 = pd.DataFrame(data_array)
df13
data_array = data[14]
df14 = pd.DataFrame(data_array)
df14
data_array = data[15]
df15 = pd.DataFrame(data_array)
df15
data_array = data[16]
df16 = pd.DataFrame(data_array)
df16
data_array = data[17]
df17 = pd.DataFrame(data_array)
df17
data_array = data[18]
df18 = pd.DataFrame(data_array)
df18
data_array = data[18]
df18 = pd.DataFrame(data_array)
df18
data_array = data[19]
df19 = pd.DataFrame(data_array)
df19
data_array = data[20]
df20 = pd.DataFrame(data_array)
df20
data_array = data[21]
df21 = pd.DataFrame(data_array)
df21
data_array = data[22]
df22 = pd.DataFrame(data_array)
df22
data_array = data[23]
df23 = pd.DataFrame(data_array)
df23
data_array = data[24]
df24 = pd.DataFrame(data_array)
df24
data_array = data[25]
df25 = pd.DataFrame(data_array)
df25
data_array = data[26]
df26 = pd.DataFrame(data_array)
df26
data_array = data[27]
df27 = pd.DataFrame(data_array)
df27
data_array = data[28]
df28 = pd.DataFrame(data_array)
df28
data_array = data[29]
df29 = pd.DataFrame(data_array)
df29
